/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Almarai", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Instrument Serif", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.1;
}

ul,
nav {
  display: flex;
  width: 100%;
}

a {
  color: black;
  font-style: normal;
}

ul {
  justify-content: space-around;
}

li {
  list-style: none;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
}

.lang-btn {
  border: none;
  background: none;
  cursor: pointer;

  &.active {
    font-weight: 700;
  }

  &:hover {
    text-decoration: underline;
  }
}

footer {
  margin-top: 5vh;
}

footer address {
  display: flex;
  padding: 2rem;
  justify-content: center;
  gap: 1rem;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 5vh;
}

/* MAIN - HERO */
.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.hero-position {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 26vh;
  padding-top: 12vh;
}

.hero-title-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-logo {
  width: 8rem;
  margin-bottom: 0.6rem;
}

.hero h1 {
  text-align: center;
}

.hero-subs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero-stroke {
  width: 10rem;
}

/* MAIN - PROJECTS */

.projects,
.project,
.project-text,
.project-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-link {
  text-decoration: none;
}

.projects {
  gap: 3rem;
  padding: 3rem 0;
}

.project {
  gap: 1.75rem;
}

.project-stroke {
  margin: 0.25rem 0 0.75rem 0;
  width: 12rem;
}

.project-subs {
  gap: 0.75rem;
}

.project-img {
  overflow: hidden;
  aspect-ratio: 1;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-caption {
  font-weight: 700;
}

@media screen and (min-width: 880px) {
  .project {
    flex-direction: row;
    align-items: flex-start;
  }

  .projects {
    margin: 0 14%;
    gap: 6rem;
  }

  .project-img {
    width: 70%;
    aspect-ratio: 1.6;
  }

  .project-text {
    padding-right: 2rem;
    width: 40%;
  }
}

.project-text,
.project-link:hover .project-text {
  transition: opacity 0.25s ease-out;
}

.project-link:hover .project-text {
  opacity: 0.6;
}

.project-img img,
.project-link:hover .project-img img {
  transition: transform 0.25s ease-out;
}

.project-link:hover .project-img img {
  transform: scale(1.05);
}
