*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Almarai", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Instrument Serif", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.lang {
  border: none;
  background: none;
  cursor: pointer;

  &.active {
    font-weight: 700;
  }

  &:hover {
    text-decoration: underline;
  }
}
