/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  --font-gray: #757575;
  --font-color-transition: color 0.2s ease-out;
  line-height: 1.2;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Instrument Serif", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  line-height: 1;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.1;
}

ul,
nav {
  display: flex;
  width: 100%;
}

a {
  color: black;
  font-style: normal;
  transition: var(--font-color-transition);
}

a:hover {
  color: #a6a6a6;
  transition: var(--font-color-transition);
}

li {
  list-style: none;
}

.separator {
  font-size: 0.6rem;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 880px) {
  header {
    background: white;
  }
}

.lang-switcher {
  display: flex;
  gap: 0.4rem;
  height: fit-content;
  align-items: center;
  color: var(--font-gray);
}

.lang-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: var(--font-gray);
  transition: var(--font-color-transition);
}

.lang-btn.active {
  font-weight: 700;
  color: black;
}

.lang-btn.active:hover {
  cursor: default;
}

.lang-btn:hover:not(.active) {
  color: black;
  transition: var(--font-color-transition);
}

/* header {
  align-items: center;
  padding-top: 0.8rem;
} */

header nav a {
  text-decoration: none;
}

header nav .logo-top-link {
  height: 1.25rem;
}

header nav .logo-top-link img {
  width: 1.25rem;
}

header nav .logo-top-link:hover img {
  transform: rotate(40deg);
}

header nav .logo-top-link img,
header nav .logo-top-link:hover img {
  transition: transform 0.25s ease-out;
}

/* FOOTER */

footer {
  margin-top: 5vh;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--font-gray);
  align-items: center;
}

footer address {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-style: normal;
  align-items: center;
}

footer a {
  color: var(--font-gray);
}

footer a:hover {
  color: black;
}

@media screen and (max-width: 458px) {
  footer {
    flex-direction: column-reverse;
    width: 100%;
  }

  footer .separator {
    display: none;
  }

  footer address {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 300px) {
  footer address {
    flex-direction: column;
  }
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 5vh;
}
